#docs-content-area {
    padding-right: 36px;
}

ul.doc-list {
    height: 675px;
    &.empty-docs {
        height: 500px;
    }
    overflow: auto;
    padding-left: 20px;
    .story-preview {
        margin-right: 10px;
    }
    div.one-doc.rtl {
        padding-left: 20px;
    }
    div.one-doc.ltr {
        padding-right: 20px;
    }
}
