@include mobile {@import 'docs.mobile'; }
@include desktop {@import 'docs.desktop'; }

#docs-content-area {
    width: 100%;
    margin-top: 16px;
}

ul.doc-list {
    width: 100%;
    padding: 0;
    list-style-type: none;
    height: calc(100vh - 280px);
    li {
        float: right;
        border-bottom: 2px solid lightgray;
        padding-bottom: 20px;
        position: relative;
        width: 100%;
        margin-bottom: 16px;
        div.one-doc {
            height: 130px;
            overflow: hidden;
            padding-top: 0px;
            display: flex;
            img {
                cursor: pointer;
            }
        }
    }
}

div.doc-detail {
    display: flex;
    flex-direction: column;
    .detail-header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

div#doc-story {
    height:calc(100vh - 200px);
    overflow:auto;
}

div.doc-frame {
    margin-left:0;
    width:572px;
    height: calc(100vh - 600px);
    position:relative;
    &.expanded {
        height: calc(100vh - 250px);
    }
}

div#doc-story {
    button.seg-button {
        padding: 0;
        float:right;
        font-size:larger;
        border:solid 1px lightblue;
        border-radius:4px;
        span {
            color:#0f0f0f;
        }
    }
    ul.segment-list {
        width:410px;
        li {
            border-bottom:solid 1px lightgrey;
            height:24px;
            &.new-segment {
                font-weight: bold;
            }
            a {
                cursor: pointer;
                span {
                    float: right;
                }
            }
        }
    }
}
