ul.doc-list {
    .story-preview {
        margin-right: -30px;
        margin-left: -30px;
    }
}

#doc-area span {
    width: 100%;
    line-height:36px;
    color: white;
    margin-bottom: 12px;
}
