ul.doc-list {
    .story-preview {
        &.ltr {
            margin-right: -30px;
        }
        &.rtl {
            margin-left: -30px;
        }
    }
    div.one-doc.rtl p {
        font-size:80%;
        margin-left: 30px;
    }
    div.one-doc.ltr p {
        font-size:80%;
        margin-right: 30px;
    }
}

#doc-area span {
    width: 100%;
    line-height:36px;
    color: white;
    margin-bottom: 12px;
}
