div.story-panel {
    height: 180px;
    padding-left:8px;
    overflow: auto;
    //border-left: 3px solid darkgray;
    >p {
        padding-bottom: 12px;
        text-align: justify;
    }
    &.larger {
        p {
            font-size:110%;
        }
    }
}

div.preview-header,
div.story-section p {
    padding-right: 8px;
    padding-left: 8px;
}

div.checkable.selected {
    background-color: lightblue;
}
