div.story-panel {
    height: 180px;
    overflow: auto;
    //border-left: 3px solid darkgray;
    p {
        padding-bottom: 12px;
    }
}
div.checkable.selected {
    background-color: lightblue;
}



