.multi-select {
    div.selected {
        font-weight: bolder;
        color: black;
        //max-height: 60px;
        border-bottom: solid 2px lightgray;
    }
    /*div.unselected {
        //max-height: 120px;
    }*/
    div.search-filter input {
        font-size: inherit;
    }
    div.option-item {
        margin-left: 0;
        padding: 0;
    }

    div.options {
        overflow-x: hidden;
        overflow-y: scroll;
        width: 90%;
        margin-right: 0px;
    }

    /*div.ms-container {
        height: 180px;
    }*/

    ul {
        list-style-type: none;
        padding: 0;
    }

    div.selected ul {
        padding-right:16px;
    }

    li a {
       width: 51%;
       color: black;
    }

    .ms-tooltip {
        ul {
            list-style-type: hebrew;
            z-index: 9999;
        }
    }

    i.tool {
        float: left;
        margin-right: 4px;
        cursor: pointer;
        &:hover {
            opacity: 1.0;
        }
    }

    ul.grouped i.tool {
        color: black;
        font-weight:bolder;
    }

    div.search-filter {
      width: 90%;
      margin-bottom: 8px;
    }

    /*a {
        float: right;
    }*/

    span {
        height: 20px;
    }
    span.span-a {
        width: 100%;
        float:right;
        overflow: hidden;
        cursor: pointer;
        padding-right:2px;
        a {
            margin: 0;
            padding: 0;
            //float: left;
        }
    }

    span.span-i {
        width: 80px;
        float:left;
        a {
            margin: 0;
            padding: 0;
            float: left;
            width:18px;
        }
    }

    div.unselected {
        a {
            cursor: pointer;
            color:black;
            &:hover {
                //font-weight:bolder;
                background-color: lightblue;
            }
        }
    }

}
