$profile_photo_size: 110px;

div.article-list.content-area li.list-group-item {
    width: $profile_photo_size + 20px;
    min-height: $profile_photo_size + 22px;
    a {
         img {
             width: $profile_photo_size;
             height: $profile_photo_size;
         }
    }
}

#article-detail {
    #article-detail-content > div {
        min-height: 271px;
    }
}

#articles-filter {
    width:50%;
    font-size:18px;
}

