.photo-detail {
    width:100%;
}

#photo-filters-panel {
    &.rtl {
        padding-right: 30px;
    }
    &.ltr {
        padding-left: 30px;
    }
    padding-bottom: 12px;
}

.content-area.photos {
    width: 100vh;
    margin: 0;
    padding:0;
}

#photos-container {
    width: 100vw;
}
