.photo-detail {
    width:1170px;
}
div.multi-select-div {
    min-height: 170px;
}
#photos-container {
    height: 579px;
    &.empty-photos {
        height: 512px;
    }
    overflow: auto;
}

#photos_area {
    height: 380px;
}
