div.slide {
    position: relative;
}

button.face {
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 8px;
    opacity: 0;
    position: absolute;
}

.slide.highlight-faces button.face {
    border-color: rgba(255, 255, 0, 0.6);
    opacity: 0.9;
    color: orange;
    font-weight: bolder;
}

button.face:hover {
    border-color: rgba(255, 255, 0, 0.9);
    opacity: 0.5;
}

.side-tool {
    z-index:9999;
    left: -32px;
    width: 32px;
    height: 32px;
    position: absolute;
    background-color:rgba(0,0,0,0);
    border: none;
    &.help {
        top: 0px;
        padding:auto;
    }
    &.highlighter {
        top: 32px;
        color: yellow;
    }
    &.story {
        top: 64px;
        color: white;
    }
    &.copy-to-clipboard {
        top: 96px;
        color: white;
    }
    &.flip-sides {
        top: 128px;
        color: white;
    }
    &.crop {
        top: 160px;
        color: white;
    }
    &.cancel-crop {
        top: 192px;
        color: white;
    }
    &.next-slide {
        top: 224px;
        color: white;
    }
    &.prev-slide {
        top: 256px;
        color: white;
    }
}

.full-size-photo .highlighted-face {
    background-color:black;
    color:yellow;
    //font-weight: bolder;
    opacity:1.0;
    position:absolute;
    font-size:70%;
}


body.black-overlay ux-dialog-overlay.active {
    background-color: black;
    opacity: 0.9;
} 

.full-size-photo .date-range label {
    margin-right:-6px;
    padding:4px;
    width:100px;
}

button.prev-slide:focus {
    color: yellow;
}

button.next-slide:focus {
    color: yellow;
}

