@include mobile { @import 'videos.mobile'; }
@include desktop { @import 'videos.desktop'; }

#video-help {
    position:absolute;
    top: 25px;
}

#video-details {
    .video-detail-body {
        display: flex;
        justify-content: space-between;
    }
    .detail-header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    div.video-area {
        display: flex;
        flex-direction: column;
        margin-top: 18px;
    }

    div.cue-points-area {
        height: 250px;
        overflow: auto;
    }

    div.data-area {
        display: flex;
        flex-direction: column;
        .video-dates {
            margin-top: 30px;
            margin-left:14px;
            width:50%;
        }
    }
    td.hilited {
        background-color: rgb(216, 216, 137);
    }
}

div.video-story {
    padding-top:8px;
    width:100%;
    div.video-story-area {
        position: relative;
        margin-right: 16px;
    }
}

