@include mobile { @import 'videos.mobile'; }
@include desktop { @import 'videos.desktop'; }

#video-help {
    position:absolute;
    top: 25px;
}

#video-details {
    .video-detail-body {
        display: flex;
        justify-content: space-between;
    }
    .detail-header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    div.video-area {
        display: flex;
        flex-direction: column;
        margin-top: 18px;
    }

    div.cue-points-area {
        height: 250px;
        overflow: auto;
    }

    div.data-area {
        display: flex;
        flex-direction: column;
        width: 570px;
        height: calc(100vh - 200px);
        overflow: auto;
    }
}

div.video-story {
    padding-top:8px;
    width:100%;
    //height:calc(100vh - 800px);
}

