$vid-height: 160px;
$vid-width: 260px;
div.video-page {
    height:calc(100vh-300px);
    width:100%;
    margin-bottom:24px;
    margin-top:20px;
    padding-right:24px;
    div.video-panel {
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-content: flex-start;
        width: 100%;
        height: calc(100vh - 300px);
        &.empty-videos {
            height: 300px;
        }
        overflow: auto;
        span.fr-video {
            width: $vid-width + 16px;
            height: $vid-height + 20px;
            margin-bottom: 16px;
            .video-iframe {
                width: $vid-width;
                height: $vid-height;
            }
        }
        span.video-name {
            font-size: 14px;
            span {
                cursor: pointer;
                i:hover {
                    background-color: lightblue;
                }
            }
        }
    }
    div.paging-buttons {
        display: flex;
        padding-left:36px;
        margin-top: -12px;
        button {
            font-weight: bolder;
            font-size: 215%;
            border: none;
        }
    }

    div.ctrls-group {
         display:flex;
         justify-content:flex-start;
         align-items: flex-start;
         div.ctrl>button {
             height: 38px;
         }
    }
}

#video-help {
    top: 2px;
    left: 2px;
}

#video-filters {
    height: calc(100vh - 300px);
    overflow: auto;
}

