div.qpos-list {
    display:flex;
    justify-content:space-between
}
button.qpos {
    border:solid 1px black;
    position:relative;
    width:28px;
    height:28px;
    i {
        position:absolute;
        &.active {
            background:green;
        }
        &.nw {
            left: 2px;
            top: 2px;
        }
        &.ne {
            right: 2px;
            top: 2px;
        }
        &.se {
            right: 2px;
            bottom: 2px;
        }
        &.sw {
            left: 2px;
            bottom: 2px;
        }
    }
}