@include mobile { @import 'stories.mobile'; }
@include desktop { @import 'stories.desktop'; }

/* ux-dialog-overlay.active {
    background-color: black;
    opacity: 0.95;
} */

ux-dialog {
    direction: rtl;
}
ux-dialog>ux-dialog-body {
    max-height:600px;
    width:600px;
    overflow:auto;
}

div.big-story-panel {
    overflow: auto;
    height: 100%;
    p {
        font-size: 110%;
        text-align: justify;
        padding-bottom: 2px;
    }
    a {
        color: blue;
    }
}

div.story-title input {
    //width: 90%;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 150%;
}

h2.story-title {
    text-align: center;
    margin: 0;
}

li {
    list-style-type: none;
    //float: right;
}

$profile_photo_size: 69px;
$profile_photo_height: 100px;

div.stories-member-list li.list-group-item {
    width: $profile_photo_size;
    float: right;
    height: $profile_photo_height;
    font-size: 9px;
    vertical-align: text-bottom;
    background-color:rgba(0,0,0,0);
    margin-left:8px;
    margin-bottom: 0px;
    padding: 0;
    a {
         vertical-align: text-bottom;
         align-content: center;
         border: none;
         img {
             width: $profile_photo_size;
             height: $profile_photo_size;
             border-radius: 50%;
         }
         h6 {
             text-align: center;
         }
    }
}

div.story-section {
    //height: 180px;
    overflow: hidden;
    font-size: 14px !important;
    //border-left: 3px solid darkgray;
    p {
        padding-bottom: 2px;
        text-align: justify;
    }
}

div.justified-story {
    font-size: 14px ! important;
    p {
        padding-bottom: 2px;
        text-align: justify;
    }
    a {
        color: blue;
        cursor: pointer;
    }
}

button.active {
    background-color: orange;
}

div.full-story {
    max-height: 600px;
    overflow: auto;
    margin: 10px -22px 0 20px;
}

p {
    span.highlighted {
        background-color: inherit;
    }
}

p.highlight-on {
    span.highlighted {
        background-color: yellow;
        color: black;
    }
}

button.word-highlighter {
    margin-left:8px;
    border: 4px solid yellow;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    &.highlight-on {
        background-color: yellow;
    }
}

[dir="rtl"] button.word-highlighter {
    float: left;
}

div.story-preview {
    display: flex;
    direction: column;
    div>img {
        padding-left:10px;
        align-self: stretch;
    }
    .story-body {
        width:100%;
    }
}

div.outer-story-preview {
    height:130px;
    overflow:hidden;
    padding-right:20px;
    padding-left:20px;
    padding-top:0px;
    cursor:pointer;
}

.page-control
{
    position: absolute;
    z-index: 1;

    // INFO [Matt] These top & margin-top styles are the quintessential "vertical center" pattern.
    top: 0%;
    width: 5%;
    height:100%;
    opacity: 0;
    &:hover {
        opacity: 0.2;
    }
    background-color: lightblue;
    cursor: pointer;
    &.next {
        left: 0%;
    }
    &.prev {
        right: 0%;
    }
}

ul.story-list {
    padding:0;
    list-style-type: none;
}

.container .content-area {
    width: 100%;
    margin-top: 16px;
}


