#story-list {
    height: calc(100vh - 300px);
    ul.story-list {
        height: calc(100vh - 390px);
        &.empty-stories {
            height: calc(100vh - 500px);
        }
        overflow:auto;
        width: 100%
    }
}

 #stories-page .container .content-area {
    padding-right: 36px;
}

ul.story-list {
    width: 100%;
}

div.big-story-panel {
    padding-left: 12px;
    padding-right: 12px;
}

#story-filters {
    padding-right: 36px;
}

