ux-dialog-overlay.active {
    background-color: white;
    opacity: 0.95;
}

div.big-story-panel {
    padding: 10px;
    max-width: 600px;
    min-width: 600px;
    max-height: 800px;
    min-height: 800px;
    border: sold 1px darkgray;
    background-color: white;
    margin-left: -30px; //due to strange bug
    p {
        padding-right: 20px;
    }
}

div.story-title input {
    width: 90%;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 150%;
}

h2.story-title {
    text-align: center;
    margin: 0;
}
.ux-dialog-container.active div {
    background-color: rgba(0,0,0,0);
}