ux-dialog-overlay.active {
    background-color: black;
    opacity: 0.95;
}

div.big-story-panel {
    p {
        max-height: 600px;
    }
    width: 600px;
    overflow: auto;
    /*
    padding: 10px;
    max-width: 600px;
    min-width: 600px;
    min-height: 800px;
    border: sold 1px darkgray;
    background-color: white;
    margin-left: -30px; //due to strange bug
    p {
        padding-right: 20px;
    }
    */
}

div.story-title input {
    width: 90%;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 150%;
}

h2.story-title {
    text-align: center;
    margin: 0;
}

li {
    list-style-type: none;
    float: right;
}

$profile_photo_size: 70px;
div.member-list li.list-group-item {
    width: $profile_photo_size;
    float: right;
    min-height: $profile_photo_size;
    font-size: 9px;
    vertical-align: text-bottom;
    background-color:rgba(0,0,0,0);
    margin-left:8px;
    margin-bottom: 0px;
    padding: 0;
    a {
         vertical-align: text-bottom;
         align-content: center;
         border: none;
         img {
             width: $profile_photo_size;
             height: $profile_photo_size;
             border-radius: 50%;
         }
         h6 {
             text-align: center;
         }
    }
}


