ux-dialog-overlay.active {
    background-color: black;
    opacity: 0.95;
}

ux-dialog {
    direction:rtl;
}
ux-dialog>ux-dialog-body {
    max-height:600px;
    width:600px;
    overflow:auto;
}

div.big-story-panel {
    width: 600px;
    overflow: auto;
}

div.story-title input {
    width: 90%;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 150%;
}

h2.story-title {
    text-align: center;
    margin: 0;
}

li {
    list-style-type: none;
    //float: right;
}

$profile_photo_size: 70px;
$profile_photo_height: 100px;

div.stories-member-list li.list-group-item {
    width: $profile_photo_size;
    float: right;
    height: $profile_photo_height;
    font-size: 9px;
    vertical-align: text-bottom;
    background-color:rgba(0,0,0,0);
    margin-left:8px;
    margin-bottom: 0px;
    padding: 0;
    a {
         vertical-align: text-bottom;
         align-content: center;
         border: none;
         img {
             width: $profile_photo_size;
             height: $profile_photo_size;
             border-radius: 50%;
         }
         h6 {
             text-align: center;
         }
    }
}

div.story-section {
    height: 180px;
    overflow: hidden;
    //border-left: 3px solid darkgray;
    p {
        padding-bottom: 12px;
    }
}

button.active {
    background-color: orange;
}


