div.panel {
    //height: $panel-height;
    background-color: rgba(0,0,0,0);
    margin-bottom: 0px;
}
div.main-panel {
    padding: 16px;
    div.row {
        padding: 0px;
        margin: 0px;
    }
}
div.panel-vid {
    background-color: rgba(0,0,0,0);
}
div.panel-stories {
    background-color: rgba(0,0,0,0);
    //height: $panel-height;
}
div.panel-messages {
    background-color: lightgray;
}

div.panel h2 {
    direction: rtl;
    width: 100%;
    border-bottom: solid 2px gray;
}

div.member-of-the-day {
    height: 74px;
    //width:1170px;
    background-color: rgba(62,65,66,1.0);
    color: white;
    font-size: 150%;
    padding-right: 16px;
    padding-top:24px;
    margin: 0px;
    span {
        float: right;
    }
}

li {
    list-style-type: none;
}

ul.message {
    padding :0;
    float: right;
    height: 250px;
    overflow: auto;
    p {
        text-align: justify;
    }
}

div.story-prefix {
    p {
        text-align: justify;
    }
}