//members
$profile_photo_size: 110px;
div.member-list.content-area li.list-group-item {
    width: 130px;
    float: right;
    min-height: 132px;
    font-size: 9px;
    vertical-align: text-bottom;
    background-color:rgba(0,0,0,0);
    a {
         vertical-align: text-bottom;
         align-content: center;
         border: none;
         img {
             width: $profile_photo_size;
             height: $profile_photo_size;
             border-radius: 50%;
         }
         h6 {
             text-align: center;
         }
    }
    .selected {
        background-color: lightgreen;
        a img {
            border-radius: 10%;
        } 
    }
}

.rtl a {
    direction: rtl;
}

//member detail

div.slide-list {
    margin-left: 0px;
    margin-right: 0px;
}

ul.family li {
    margin-left: 0px;
}

ul.family img {
    height: 32px;
    border-radius: 50%;
}

ul.family a {
    position: relative;
}

ul.family span {
    position: absolute;
    top: 7px;
    right: 34px;
}

//member picker

div.member-list {
    &.popup {
        width: 600px;
        height: 500px;
    }
    direction: rtl;
    overflow: auto;
    padding: 16px;
    padding-right: 36px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;

    li {
        float:right;
        min-height:88px;
        font-size:9px;
        vertical-align: text-bottom;
        width: 65px;
        height: 80px;
        overflow: hidden;
        font-size: 9px;
        vertical-align: text-bottom;
        background-color: lightgray;
        color: black;
        margin-bottom: 12px;
        .selected {
            opacity: 0.3;
            background-color: lightgreen;
            a img {
                border-radius: 5%;
            }
        }
    }
}

ux-dialog-containerxxx {
    >div>div {
        background-color:lightgray;
    }
}

#stories .slide-control.next
{
    right: 0px;
    color:grey;
}
#stories .slide-control.prev
{
    left: 0px;
    color: grey;
}

.family-chains button
{
    min-width: 130px;
    border-radius:5px;
}

.family-chains a
{
    border-right: solid 2px gray;
    border-bottom: solid 2px gray;
    background-color: lightgray;
    border-radius: 20px;
    padding: 0;
    font-size:12px;
    & img {
        float:right;
    }
    max-width:110px;
    min-width:110px;
    overflow:hidden;
}
.family-chains ul
{
    list-style-type: none;
    /*margin: 10px;*/
}
.family-chains ul li
{
    float: right;
    margin:5px;
}

.relation-kind
{
    padding-left: 15px;
    padding-right: 15px;
}

//member edit

.member-info-right div.form-group {
    margin-bottom:5px;
    margin-left:0px;
}
.member-info-left div.form-group {
    margin-bottom:5px;
    margin-left:0px;
}

.not_ready {
    opacity: 0.6;
}

#member-detail #breadcrumb {
    padding: 10px;
    line-height: 20px;
}

#member-detail #member-detail-content > div {
    //height: calc(100vh - 713px);
    min-height: 271px;

    .member-story-panel-moved {
        overflow-y: auto;
        height: calc(100% - 53px);
        >p {
            text-align: justify;
        }

    }
}

#member-detail #stories {
    position: relative;
    padding: 0;
    border: solid 6px white;

    .story-box {
        //height: 260px;
        overflow-y: auto;
        overflow-x: hidden;
        //border-top: 6px solid white;
        //border-bottom: 6px solid white;
        background-color: rgba(208, 208, 208, 0.5);
        padding-right:8px;
        cursor: pointer;
        &.notfirst {
            border-left: 6px solid white;
        }

        .member-story-header {
            height: 45px;
            position: relative;
            i.to-full-page {
                position: absolute;
                color: white;
                left: -10px;
                top: 4px;
            }
        }

        .member-story-preview {
            padding-right: 8px;
            width:256px;
        }

        a.goto-story-page {
            position:absolute;
            left:-28px;
        }
        h4 {
            width:225px;
        }
        span.name {
            font-weight: bold;
        }
    }
}

div.member-story-panel {
    height: 185px;
    overflow: auto;
    >p {
        padding-bottom: 2px;
        padding-left:12px;
        text-align: justify;
        &.rtl {
            direction: rtl;
        }
        &.ltr {
            direction: ltr;
        }
    }
    a {
        color: blue;
    }
}

selector select {
    height: 32px;
}

//date-range
.member-info .date-range {
    label {
        margin-right:-16px;
        padding:4px;
        width:100px;
    }
    input {
        height: 32px;
    }
}


