//members
$profile_photo_size: 110px;
div.member-list.content-area li.list-group-item {
    width: 130px;
    float: right;
    min-height: 130px;
    font-size: 9px;
    vertical-align: text-bottom;
    background-color:rgba(0,0,0,0);
    a {
         vertical-align: text-bottom;
         align-content: center;
         border: none;
         img {
             width: $profile_photo_size;
             height: $profile_photo_size;
             border-radius: 50%;
         }
         h6 {
             text-align: center;
         }
    }
}

//member detail

div.slide-list {
    margin-left: 0px;
    margin-right: 0px;
}

ul.family li {
    margin-left: 0px;
}

ul.family img {
    height: 32px;
    border-radius: 50%;
}

ul.family a {
    position: relative;
}

ul.family span {
    position: absolute;
    top: 7px;
    right: 34px;
}

div.story-panel {
    max-height: 160px;
    overflow: auto;
    //border-left: 3px solid darkgray;
    min-height: 200px;
    p {
        padding-bottom:12px;
    }
}

div.story-box {
    float: right;
    padding-right: 12px;
    &.last {
        padding-right: 0px;
    }
    padding-left: 0px;
    border-left: solid 6px white;
}

//member picker

div.member-list {
    &.popup {
        width: 600px;
        height: 500px;
    }
    overflow: auto;
    padding: 24px;
    padding-right: 36px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;

    li {
        float:right;
        min-height:88px;
        font-size:9px;
        vertical-align: text-bottom;
        width: 65px;
        height: 80px;
        overflow: hidden;
        font-size: 9px;
        vertical-align: text-bottom;
        background-color: lightgray;
        color: black;
        margin-bottom: 12px;
    }
}

ux-dialog-containerxxx {
    >div>div {
        background-color:lightgray;
    }
}

.slide-list .slide-control
{
    position: absolute;
    opacity: 0.31;
    height: 20%;
    width: 32px;
    top: 40%;
    cursor: pointer;
}
.slide-list .slide-control:hover {
    opacity: 1.0;
}
.slide-list .slide-control.next
{
    right: 0%;
    color: white;
}
.slide-list .slide-control.prev
{
    left: 0%;
    color: white;
}

.family-chains button
{
    min-width: 130px;
    border-radius:5px;
}

.family-chains a
{
    border-right: solid 2px gray;
    border-bottom: solid 2px gray;
    background-color: lightgray;
    border-radius: 20px;
    padding: 0;
    font-size:12px;
    & img {
        float:right;
    }
    max-width:110px;
    min-width:110px;
    overflow:hidden;
}
.family-chains ul
{
    list-style-type: none;
    /*margin: 10px;*/
}
.family-chains ul li
{
    float: right;
    margin:5px;
}

.relation-kind
{
    padding-left: 15px;
    padding-right: 15px;
}

//member edit

.member-info-right div.form-group {
    margin-bottom:5px;
    margin-left:0px;
}
.member-info-left div.form-group {
    margin-bottom:5px;
    margin-left:0px;
}

.not_ready {
    opacity: 0.6;
}

