$navbar-height: 60px;

.navbar {
    height: $navbar-height;

    &.navbar-default.navbar-fixed-top {
        width: 1170px;
    }

    > * {
        align-self: center;

        + * {
            margin-left: 0rem;
        }
    }

    .nav-item {
        font-size: 1.80rem;
        line-height: 2.1rem;
        padding: 0.5rem;
    }

    .navbar-logo {
        font-size: 2.9rem;
        padding-bottom: 1rem;

        img {
            width: 3.4rem;
            margin-left: 0.5rem;
        }
    }

    .navbar-search {
        flex: 1;

        .search-box,
        .search-box-container {
            width: 100%;
        }
    }

    .navbar-controls {
        align-self: flex-end;
    }
}

#router-view {
    height: calc(100vh - 63px);
    &.hide-footer {
        height: 100vh;
    }
    overflow: auto;
}

.top-head {
    position: absolute;
    top: $navbar-height;
    width: 100%;
    .page-title {
        width:1170px;
    }
}

.navbar + #router-view {
    padding-top: $navbar-height;
}

.top-head + #router-view {
    padding-top: $navbar-height + 80px;
}

.detail-header {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 9px;
    height:45px;
    padding-left:12px;
    padding-right:12px;
    &.detail-header-modifier {  //why is this needed?
        margin-top: -15px;
        margin-left: -15px;
        margin-right: -15px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.content-area {
    width: 1170px;
    margin-left:auto;
    margin-right:auto;
}

.search-box-input {
    font-size: 90%;
}


