$slide-height: 220px;
$list-group-border: white; 
$list-group-bg: #eeeeee;
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
.navbar-centered {
    width: 1200px;
}
@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);

body{
  font-family: "Alef Hebrew",
               “Helvetica Neue”,
               Helvetica,
               Arial,
               sans-serif;
  /*width: 1170px;*/
}
.navbar-brand{
    font-weight: bold;
}
.top-head {
    background-image: url("/gbs/static/images/top-background.png"),url("../images/top-background.png") ;
    background-repeat: no-repeat;
    min-height:500px;
}

.content-area {
    background-image: url("/gbs/static/images/content-background.png"),url("../images/content-background.png") ;
    background-repeat: no-repeat;
}

.footer-area {
    background-image: url("/gbs/static/images/footer-background.png"),url("../images/footer-background.png") ;
    background-repeat: no-repeat;
    min-height:117px;
    margin-left:auto;
    margin-right:auto;
    width:1200px;
}

.slide-list {
    background-color: #cccccc;
    max-height: $slide-height;
    overflow: hidden;
    position: relative;
}

.slide-photo {
    height: $slide-height;
}
.slide-list .slide-control
{
    position: absolute;
    opacity: 0.31;
    height: 20%;
    width: 32px;
    top: 40%;
    cursor: pointer;
}
.slide-list .slide-control:hover {
    opacity: 1.0;
}
.slide-list .slide-control.next
{
    right: 0%;
    color: white;
}
.slide-list .slide-control.prev
{
    left: 0%;
    color: white;
}
.slide-list .slide-control.expand
{
    right: 45%;
    height: 45%;
    color: white;
}
.family-chains button
{
    min-width: 130px;
    border-radius:5px;
}
.family-chains a
{
    min-width: 130px;
    border-radius:5px;
    border-right: solid 2px gray;
    border-bottom: solid 2px gray;
    background-color: lightgray;
    border-radius: 20px;
    padding: 0;
    font-size:12px;
}
.family-chains ul
{
    list-style-type: none;
    /*margin: 10px;*/
    /*padding: 10px;*/
}
.family-chains ul li
{
    float: right;
    margin:5px;
}

.relation-kind
{
    padding-left: 15px;
    padding-right: 15px;
}

a.border-right
{
    border-right:solid gray 1px;
    margin-right:10px;
    padding-right:10px;
}

body {
    margin-left: auto;
    margin-right: auto;
}

.navbar-centered {
    margin-left: auto;
    margin-right: auto;
    /*width:1170px;*/
}

ux-dialog-overlay.active {
    background-color: black;
    opacity: .5;
}

.full {
  background: url(http://placehold.it/1920x1080) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.disabled {
    opacity: 0.5;
}

.member-info-right .form-group {
    margin-bottom:5px;
    margin-left:5px;
}
.member-info-left .form-group {
    margin-bottom:5px;
    margin-left:0px;
}

ux-dialog-container.active {
    margin-left: auto;
    margin-right: auto;
    opacity: 1.0;
}
