div.palette-default {
    div.top-head, div.footer-area {
        background: rgba(80, 80, 80, 0.3);
    }
    div.editable {
        background-color: default;
    }
    div.detail-header {
        background-color: #bbbbbb;
    }
    div.member-of-the-day {
        background-color: #3e4142;
    }
}
    
div.palette-oldie {
    div.top-head, div.footer-area {
        background: rgba(180, 80, 0, 0.3);
    }
    div.editable, div.story-prefix {
        background-color:beige;
    }
    div.detail-header {
        background-color: rgba(180, 80, 0, 0.5);
    }
    div.member-of-the-day {
        background-color: #cbc5ac;
    }
}
    
div.palette-sky {
    div.top-head, div.footer-area {
        background: rgba(0, 80, 180, 0.3);
    }
    div.editable {
        background-color: lightblue;
    }
    div.detail-header {
        background-color: rgba(0, 80, 180, 0.5);
    }
    div.member-of-the-day {
        background-color: #5e7056;
    }
}

div.palette-earth {
    div.top-head, div.footer-area {
        background: rgba(80, 180, 0, 0.3);
    }
    div.editable {
        background-color: lightseagreen;
    }
    div.detail-header {
        background-color: rgba(80, 180, 0, 0.5);
    }
    div.member-of-the-day {
        background-color: mediumaquamarine;
    }
}

ul.palette-selector li.palette-default {
    background-color: default;
}

ul.palette-selector li.palette-oldie {
    background-color: beige;
} 

ul.palette-selector li.palette-sky {
    background-color: lightblue;
} 

ul.palette-selector li.palette-earth {
    background-color: lightseagreen;
} 
